@model List<PIM.Site.Models.QuartosViewModel>

@foreach(var item in Model)
{
    <div style="padding-top:3%">
    <div class="card mb-3" style="padding-top:2%;">
        <div class="col-md-12">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/assets/images/@{@item.Img_quarto}.jpg" class="img-fluid rounded-start" alt="Quarto" style="width: 100%">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nome_quarto</h5>
                        <p class="quarto-preco">R$ @item.Valor_quarto</p>
                        <a href="@Url.Action("InfoQuarto", "Servicos")" class="btn btn-secondary">Reserve agora</a>
                        <p></p>
                        <p style="font-weight:bold"><i class="fas fa-bed"> @item.Quantia_camas </i><i class="fas fa-bath"> @item.Quantia_banheiros </i>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <div class="item-texto">
                            <p>@item.Descricao_quarto</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

